@layer resets, blocks, elements, modifiers, utils;

:root {
    /* Fonts */
    --primary-font: system-ui, sans-serif;

    /* Colours */
    --color-bg: hsl(0, 0%, 8%);
    --color-text: hsl(0, 0%, 98%);
    --color-success: hsl(84, 99%, 57%);
    --color-danger: hsl(3, 85%, 46%);
    --color-warning: hsl(43, 100%, 46%);

    /* Font Sizes */
    --text-h1: 1.25rem;

    /* Border Radii */
    --fully-rounded: 0.25rem;
}

@layer resets {
    html {
        font-family: var(--primary-font);
        margin: 0;
        padding: 0;
    }

    body {
        background-color: var(--color-bg);
        color: var(--color-text);
        margin: 0;
        padding: 0;

        * {
            box-sizing: border-box;
            color: inherit;
            font-size: 1rem;
            font-weight: normal;
            margin: 0;
            padding: 0;
        }
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    input {
        outline: none;
    }
}

@layer blocks {
    .btn {
        cursor: pointer;
        font-weight: bold;
        padding: 0.5rem 1rem;
        transition: background-color 0.5s, color 0.5s;
    }
}

@layer elements {
    .page-header,
    .page-header__calorie-section {
        display: flex;
        flex-direction: column;
    }

    .page-header {
        gap: 1rem;
        padding: 1rem;
    }

    .page-header__title {
        font-size: var(--text-h1);
        font-weight: bold;
    }

    .calorie-section {
        gap: 1rem;
    }

    .calorie-section__total-value {
        font-size: var(--text-h1);
        font-weight: bold;
    }

    .calorie-section__controls {
        display: flex;
        gap: 0.5rem;
        margin-top: 1.25rem;
    }

    .calorie-section__input-container {
        display: flex;
    }

    .calorie-section__input {
        border: none;
        border-top-left-radius: var(--fully-rounded);
        border-bottom-left-radius: var(--fully-rounded);
        color: var(--color-bg);
        padding: 0.15rem 1rem;
    }

    .calorie-section__show-controls-btn,
    .calorie-section__update-btn {
        background-color: var(--color-warning);
        border: none;
        color: var(--color-bg);

        &:hover {
            background-color: hsl(34, 96%, 48%);
        }
    }

    .calorie-section__show-controls-btn {
        border-radius: var(--fully-rounded);
    }

    .calorie-section__update-btn {
        border-top-right-radius: var(--fully-rounded);
        border-bottom-right-radius: var(--fully-rounded);
    }

    .calorie-section__reset-calories-btn {
        background-color: transparent;
        border: 0.125rem solid var(--color-danger);
        border-radius: var(--fully-rounded);
        color: var(--color-danger);

        &:hover {
            background-color: var(--color-danger);
            color: var(--color-text);
        }
    }

    .calorie-section__cancel-btn {
        background-color: transparent;
        border: 0.125rem solid var(--color-text);
        border-radius: var(--fully-rounded);

        &:hover {
            background-color: var(--color-text);
            color: var(--color-bg);
        }
    }
}

@layer utils {
    .hidden {
        display: none;
    }

    .deficit {
        color: var(--color-danger);
    }

    .sufficient {
        color: var(--color-success);
    }
}
