$primary-font: system-ui, sans-serif;

$color-bg: hsl(0, 0%, 8%);
$color-text: hsl(0, 0%, 98%);
$color-success: hsl(84, 99%, 57%);
$color-danger: hsl(3, 85%, 46%);
$color-warning: hsl(43, 100%, 46%);

$text-h1: 1.75rem;
$fully-rounded: 0.25rem;
