@use "./../utils/variables" as *;

html {
  font-family: $primary-font;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-bg;
  color: $color-text;
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
    color: inherit;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}
